@import './colors.scss';

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  padding: 0 15px;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.6);
}

.btn-purple {
  color: white;
  background-color: $purple;
}