@import './config.scss';
@import './colors.scss';
@import './fonts.scss';
@import './button.scss';

* {
    font-family: $font-gotham;
}

body {
    border-top: solid 10px $purple;
}

.main {
    width: 100%;
    min-width: 300px;
    height: 770px;
    background-image: url('/images/main-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;

    &__logo {
        width: 200px;
        margin: 30px 0 0 125px;
    }

    &__bar {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__list {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 43px;
    }

    &__item {
        display: inline-block;

        &-link {
            padding: 15px 20px;
            cursor: pointer;
        }

        &:last-of-type {
            margin-left: 15px;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }

    &__title {
        font-size: 40px;
        max-width: 630px;
        text-align: center;
        color: $purple;
        margin-top: -10px;

        &--bold {
            font-weight: bold;
        }
    }

    &__subtitle {
        max-width: 320px;
        text-align: center;
        font-size: 22px;
        margin-top: 22px;
        color: $purple;

        &--bold {
            font-weight: bold;
        }
    }

    &__button {
        margin-top: 25px;
    }

    &__safe-buy {
        position: absolute;
        top: 50%;
        right: 0;
        width: 200px;
    }
}