@import './colors.scss';
@import '../../node_modules/formstone/dist/css/carousel.css';

.comments {
    width: 100%;
    height: 440px;
    background-image: url('/images/comments_background.png');
    background-size: auto 100%;
    background-position: center;
    padding-top: 40px;

    &__title {
        font-size: 34px;
        font-weight: normal;
        color: $blue;
        text-align: center;

    }

    &__slider-container {
        overflow: hidden;
        height: 300px;
        margin-top: 20px;
    }
}

.comment {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: $blue;

    &__image-container {
        width: 120px;
        height: 120px;
        overflow: hidden;
        border-radius: 50%;
        border: solid 6px white;
    }

    &__image {
        width: 100%;
        object-fit: cover;
    }

    &__text-block {
        width: calc(100% - 120px - 22px);
        display: flex;
        flex-direction: column;
    }

    &__text {
        font-size: 18px;
    }

    &__name {
        font-size: 24px;
        font-weight: bold;
        margin: 9px 0 4px 0;
    }

    &__nick {
        font-size: 16px;
    }
}