@font-face {
  font-family: "GothamRounded";
  font-style: normal;
  src: url("/fonts/GothamRounded/GothamRoundedBold.ttf") format("truetype");
  font-weight: 800;
  font-display: fallback;
}

@font-face {
  font-family: "GothamRounded";
  font-style: normal;
  src: url("/fonts/GothamRounded/GothamRoundedLight.ttf") format("truetype");
  font-weight: 100;
  font-display: fallback;
}

@font-face {
  font-family: "GothamRounded";
  font-style: normal;
  src: url("/fonts/GothamRounded/GothamRoundedMedium.ttf") format("truetype");
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "GothamRounded";
  font-style: normal;
  src: url("/fonts/GothamRounded/GothamRoundedBook.ttf") format("truetype");
  font-weight: 300;
  font-display: fallback;
}

@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

$font-gotham: "GothamRounded";
