@import "./config.scss";
@import "./colors.scss";
@import "./fonts.scss";
@import "./button.scss";
@import "./footer.scss";

@import "./components/menu.scss";
@import "./components/offer.scss";

* {
  font-family: $font-gotham;
}

strong {
  font-weight: 800;
}

html {
  min-height: 100vh;
}

body {
  border-top: solid 10px $purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

footer {
  width: 100%;
}

#page-content {
  width: 100%;
}

.page-title {
  font-size: 34px;
  text-align: center;
  color: $purple;
  font-weight: 100;
}

body.index {
  @import "./index/main.scss";
  @import "./index/advantages.scss";
  @import "./index/comments.scss";
  @import "./index/best.scss";
  @import "./index/release.scss";
  @import "./index/shields.scss";
  @import "./index/credit_card.scss";
}

body.video {
  @import "./video/main.scss";
  @import "./index/advantages.scss";
  @import "./index/comments.scss";
  @import "./index/best.scss";
  @import "./index/release.scss";
  @import "./index/shields.scss";
  @import "./index/credit_card.scss";
}

body.doubts {
  @import "./doubts/index.scss";
}

body.terms {
  @import "./terms/index.scss";
}

body.composition {
  @import "./composition/index.scss";
}