@import "./config.scss";
@import "./colors.scss";
@import "./fonts.scss";
@import "./button.scss";
@import "./footer.scss";

@import "./components/menu.scss";

body.index {
  @import "./index/main.scss";
  @import "./index/advantages.scss";
  @import "./index/comments.scss";
  @import "./index/best.scss";
  @import "./index/release.scss";
  @import "./index/shields.scss";
  @import "./index/credit_card.scss";
  @import "./index/offer.scss";
}

body.doubts {
  @import "./doubts/index.scss";
}

* {
  font-family: $font-gotham;
}

strong {
  font-weight: 800;
}

body {
  border-top: solid 10px $purple;
}
